/*
*
*
GENERAL
*
*
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baskervville', serif;
    text-align: center;
}

b {
    font-size:1.5em;
}

a {
    text-decoration: none;
    color: #86c9e3;
}

/*
*
*
INDEX HEADER
*
*
*/

#index_header{
    position:absolute;
    top:0;
    left:12%;
    z-index:100;
    background-color: #fff;
    width:25%;
    height:100%;
    opacity:0.8;
}

#index_header h1, #index_header p {
    text-align: center;
} 

#index_header h1 {
    padding: 2% 3%;
}

#index_header p {
    padding:0;
    margin:0;
}

#index_header #author {
    margin-top:-5%;
    padding:0;
    font-size:1.3em;
    font-style: italic;
}

#index_header p {
    margin: 30% 10%;
    line-height:2;
}

#index_header a {
    position: relative;
    bottom: 1%;
}

#index_header a p {
    margin:0;
}

/*
*
*
INDEX MAP
*
*
*/


#mapid {
    z-index:-1;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:auto;
}

 #mapid .leaflet-tooltip {
    margin-top: -45px; 
}

/*
*
*
POST PAGE
*
*
*/

.postPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.postPage article {
    width:100%;
    display: flex;
    justify-content: center;
}

.post {
    width:80%;
    margin-bottom:0;
}

.postPage article h1 {
    font-size: 2.5em;
    text-align: center;
}

.postPage p {
    font-size:1.5em;
}

p.postContent {
    line-height:1.7;
    margin:3% 5%;
}

.postPage .postDate {
    text-align: right;
    padding:0.3% 1% 0.3% 0;
    border-bottom: 1px solid #86c9e3;
    border-top: 1px solid #86c9e3;
}

.comments {
    width:72%;
}

.commentsList {
    width:100%;
}

.comments .addComment h2, .comments .commentsList h2 {
    font-size: 2em;
    text-align: center;
    margin:5% 0 5% 0;
}

.commentsList p {
    font-size: 1.3em;
    margin-top:2%;
}

.commentsList .commentDate {
    font-size:1em;
    border-bottom: 1px solid #86c9e3;
    padding-bottom:1%;
    margin-bottom: 0;
}

.addComment form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 10% 0;
}

.addComment form label, .createPostForm label {
    font-size:1.5em;
    margin-top:2%;
}

.addComment input, .addComment textarea, .createPostForm input {
 margin:auto;
 width:50%;
}

.addComment input, .createPostForm input {
    height:30px;
} 

.addComment textarea {
    height:100px;
}

.addComment form .submitButton, .createPostForm .submitButton  {
    margin-top:2%;
    width:10%;
    height:40px;
    background-color: #86c9e3;
    border:none;
    font-size:1.2em;
    font-family:'Source Sans Pro', sans-serif;
}



.addComment input:valid, .addComment textarea:valid, .createPostForm input:valid {
    font-size:1.3em;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}


/*
*
*
ADMIN
*
*
*/

.adminBoard {
    text-align: center;
}

.adminBoard h1 {
    font-size:2em;
    margin-top:3%;
}

.adminBoard h2 {
    font-size:1.8em;
    margin: 3% 0;
}

.adminBoard .createPostButton {
    width:15%;
    height:50px;
    margin:3% 0 1% 0;
    background-color: #86c9e3;
    border:none;
    font-size:1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.adminBoard .createPostButton:hover {
    cursor: pointer;
}

.table {
    width:80%;text-align: center;
    border-collapse: collapse;
    margin:auto;
}

.table tr:hover {
    background-color: #86c9e3;
}

.table tr:hover a {
    color:#000;
}

.table thead tr th {
    background-color: #86c9e3;
}

.table td, .table thead tr th{
    padding:0.8% 0;
    border-top:1px solid #86c9e3;
}

/*
*
*
NEW POST
*
*
*/

.createPost h1 {
    margin:3% 0;
}

.createPost .tox {
    width:80%;
    margin:0 auto 0 auto;
}

.createPost .createPostForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createPostForm label {
    margin-bottom:2%;
}





